*{
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	width: 100%;
}
#homeheader{
	width: 100%;
}

#logo{
	position: relative;
	width: 200px;
  	height: 35px;
	z-index: 1;
}

#mainimage{
	background-image: url(../images/mainimage.png);
	background-size: 1000px 691px;
	position: relative;
	width: 1000px;
	min-height: 691px;
	top: 0;
}

#slogan{
	position: absolute;
	color: white;
	font-size: 3.5em;
	font-family: "Handwriting - Dakota", Dakota;
	text-align: center;
	top: 265px;
	left: calc(50% - 107px);
	width: 214px;
}

.circle{
	height: 35px;
	width: 35px;
}

#scroll{
	position: absolute;
	height: 41.5px;
	width: 41.5px;
	top: 615px;
	left: calc(50% - 20.75px);
}
#downarrow{
	height: 41.5px;
	width: 41.5px;	
}





/****************************   DESKTOPMENU   *******************************/


#menu{
	display: none;
	position: absolute;
	width: 820px;
	left: calc(50% - 410px);
	top: 730px;
}
#menu ul{
	background-color: rgba(73,73,73,.8);
	text-align: center;
	
}
#menu li{
	display: inline-block;
	padding: 10px;
}
#menu a, .break{
	text-decoration: none;
	color: rgba(255,255,255,.8);
	font-family: "Myriad Pro";
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
}
#menu a:hover{
	color: rgba(255,255,255,1);
}




/****************************   HAMBURGER   *******************************/

.page-content{
	position: relative;
	z-index: 0;
}
.sidebar{
	position: fixed;
	top: 0;
	left: -245px;
	width: 245px;
	height: 100%;
	background-color: #494949;
	z-index: 0;
	transition-duration: 1s;
}
.sidemenu{
	list-style: none;
	padding: 60px 30px;

}
.sidemenu li{
	color: rgba(255,255,255,.8);
	font-family: "Myriad Pro";
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
	margin: 16px 0;
	text-align: center;
}
.sidemenu a:hover{
	color: rgba(255,255,255,1);
}
.sidemenu a{
	color: rgba(255,255,255,.8);
	text-decoration: none;
}

.button{
	left: 0;
  	padding: 15px;
  	position: absolute;
  	color: white;
  	z-index: 1;
  	transition-duration: 1s;
  	transition-delay: .1s;
}

#sidebarbutton{
	display: none;
}

#sidelogo{
	width: 170px;
  	height: 30px;
  	padding-top: 20px;
  	padding-left: 15px;
}

#sidebarbutton:checked + .page-wrap .sidebar{
	left: 0;
}
#sidebarbutton:checked + .page-wrap .button{
	left: 189px;
	position: fixed;
}
#sidebarbutton:checked + .page-wrap .page-content{
	-webkit-filter: blur(4px);
  	filter: blur(4px);
	z-index: 0;
	/*position: fixed;*/
}

.sidemedia{
	position: relative;
	left: calc(50% - 116.305px);
}
.sidemedia li{
	display: inline-block;
	padding: 10px;
}
.sidemedia a{
	color: rgba(255,255,255,.8); 
}




/****************************   MOBLIEICONS   *******************************/


#icons{
	position: relative;
	height: 468px;
}
#icons a{
	display: inline-block;
	text-decoration: none;
	width: 50%;
}

#icons p{
	font-family: "Gill Sans", Myriad Pro;
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
	color: #494949;
	text-decoration: none;
	position: relative;
}

#his{
	float: left;
	padding: 50px 0;
}
#his img{
	height: 90px;
	width: 64px;
	position: relative;
	left: calc(50% - 32px);
}
#his p{
	left: calc(50% - 16.335px);
	padding-top: 10px;
}

#hers{
	float: right;
	padding: 50px 0;
}
#hers img{
	height: 90px;
	width: 80px;
	position: relative;
	left: calc(50% - 40px);
}
#hers p{
	left: calc(50% - 23.515px);
	padding-top: 10px;
}

#frame{
	float: left;
	padding: 77.5px 0 50px 0;
}
#frame img{
	height: 35px;
	width: 102px;
	position: relative;
	left: calc(50% - 51px);
}
#frame p{
	left: calc(50% - 64.545px);
	padding-top: 37.5px;
}

#location{
	float: right;
	padding: 50px 0;
}
#location img{
	height: 90px;
	width: 67px;
	position: relative;
	left: calc(50% - 34.5px);
}
#location p{
	left: calc(50% - 41.915px);
	padding-top: 10px;
}

#vertline{
	height: 469px;
	width: 0px;
	position: absolute;
	border-left: 1px solid gray;
	left: calc(50% - 1px);
	top: 0px;
}




/****************************   HIS/HERS   *******************************/


#hisheader{
	background-color: #494949;
	height: 65px
}

#otherlogo{
	position: absolute;
	left: calc(50% - 100px);
	width: 200px;
  	height: 35px;
  	padding-top: 15px;
}

#menuh{
	display: none;
	position: relative;
	width: 820px;
	margin: auto;
	top: 71px;
}
#menuh ul{
	text-align: center;
	
}
#menuh li{
	display: inline-block;
	padding: 10px;
}
#menuh a, .break{
	text-decoration: none;
	color: rgba(255,255,255,.8);
	font-family: "Myriad Pro";
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
}
#menuh a:hover{
	color: rgba(255,255,255,1);
}

#hisimage{
	width: 100%;
}

main{
	position: relative;
}

#pagetitle{
	font-size: 32px;
  	font-family: "Gill Sans", Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	padding: 10px 0;
  	position: relative;
  	left: calc(50% - 21.78px);
}
#herpagetitle{
	font-size: 32px;
  	font-family: Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	padding: 10px 0;
  	position: relative;
  	left: calc(50% - 39.03px);
}

#glasses{
	background-color: #f2f2f2;
}
.items{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
}
.items img{
	width: 50%;
	padding-top: 17px;
	padding-bottom: 17px;
}
.items img:hover{

}
.items p{
	font-size: 18px;
  	font-family: Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	line-height: 2;
  	text-align: center;
  	width: 50%;
}
.little{
	display: flex;
	justify-content: center;
	font-size: 18px;
  	font-family: Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	line-height: normal;
  	text-align: center;
}






/****************************   FOOTER   *******************************/


footer{
	position: relative;
	padding-top: 25px; 
}

#contact-form{
	display: inline-block;
	width: 100%;
}
.form-group button{
	background-color: #494949;
	color: white;
	font-family: "Gill Sans", Myriad Pro;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	margin-right: 2%;
	height: 38px;
	width: 34%;
	border: none;
	float: right;
	display: flex;
	justify-content: center;
}
#email{
	height: 38px;
	width: 59%;
	padding-left: 5px;
	margin-left: 2%; 
	color: #494949;
	background-color: rgba(179,179,170,.5);
	font-family: Myriad Pro;
	font-weight: lighter;
	font-style: italic;
	font-size: 18px;
	border: none;
	float: left;
}
#email-error{
	color: red;
	font-family: "Gill Sans", Myriad Pro;
	font-weight: 600;
	font-style: italic;
	font-size: 14px;
	position: absolute;
	left: 2%;
	top: 0;
	padding: 5px;
}
.invalid{
	border: 2px solid red !important;
	height: 34px !important;
}

#socialmedia{
	position: relative;
	left: calc(50% - 116px);
	text-decoration: none;
}
#socialmedia a{
	text-decoration: none;
	color: #494949;
}
#socialmedia li{
	display: inline-block;
	color: #494949;
	padding: 25px 10px;
	text-decoration: none;
}
.fa-facebook:hover{
	color: #3b5998;
}
.fa-twitter:hover{
	color: #1da1f2;
}
.fa-instagram{
	height: 32px;
	width: 27.44px;
}
.fa-instagram:hover{
	background-image: url(../images/instahover.png);
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
	position: relative;	
	top: 2px;
}
.fa-pinterest-p:hover{
	color: #bd081c;
}
.fa-tumblr:hover{
	color: #36465d;
}

#copyright{
	background-color: #494949;
}
small{
	position: relative;
	color: white;
	left: calc(50% - 85px);
	font-family: "Gill Sans", Myriad Pro;
	font-weight: lighter;
	font-style: italic;
	font-size: 14px;
}





/****************************   SUCCESS   *******************************/


.fa-check-square-o{
	position: relative;
	left: calc(50% - 37px);
	color: #494949;
	padding: 25px 0;
}

#thanks{
	font-size: 18px;
  	font-family: Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	line-height: 2;
  	text-align: center;
  	margin: 0;
  	padding: 0 20px;
}



/****************************   LOCATION   *******************************/


#map-1{
	height: 626px;
	width: 100%;
}

#details h1{
	font-family: "Myriad Pro";
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
	color: #494949;
	position: relative;
	left: calc(50% - 75.25px);
	padding: 20px 0;
}
#hours{
	margin: auto;
}
#hours li{
	font-size: 18px;
  	font-family: Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	line-height: 2;
  	text-align: center;
}
#details p{
	font-size: 18px;
  	font-family: Myriad Pro;
  	color: #494949;
  	font-weight: 600;
  	font-style: italic;
  	line-height: 2;
  	margin: auto;
  	position: relative;
  	left: calc(50% - 150px);
  	padding-top: 20px; 
}



/****************************   MEDIAQUARIES   *******************************/


@media screen and (min-width: 720px) {
	#slogan{
		width: 369px;
		left: calc(50% - 184.5px);
		top: 307px;
	}
}

@media screen and (min-width: 768px){
	#glasses{
		display: inline-block;
	}
	.items{
		width: 49.8%;
		height: 430px;
		display: inline-block;
		border-bottom: 1px solid grey;
	}
	.items img{
		width: 100%
	}
	.items p{
		margin: auto;
	}
	.little{
		line-height: 2;
	}
	#g2, #g4, #g6, #g8{
		float: right;
	}
	#g1, #g3, #g5, #g7{
		float: left;
		border-right: 1px solid grey;
	}
}

@media screen and (min-width: 965px) {
	#mainimage{
		background-size: cover;
		width: 100%;
		height: 790px;
	}
	#slogan{
		top: 430px
	}
	#scroll{
		top: 717px;
	}
}

@media screen and (min-width: 1025px){
	#downarrow, #scroll, .button, #icons{
		display: none;
	}
	#menu, #menuh{
		display: inherit;
	}
	#hisheader{
		height: 125px;
	}
	#slogan{
		width: 627px;
		left: calc(50% - 313.5px);
		bottom: 375px;
		font-size: 5em;
	}

	.items{
		width: 33%;
	}
	.items img{
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.items img:hover{
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		overflow: hidden;
	}
	#g3, #g6{
		float: right;
	}
	#g2, #g4, #g8{
		float: left;
		border-right: 1px solid grey;
	}

	#logo{
		width: 300px;
		height: 53px;
		left: calc(50% - 150px);
	}
}








